
    html {
      height: 100%;
     }
     
     body {
       background-image: 
     url(https://i.pinimg.com/736x/14/a0/ae/14a0ae737bbf521a7dbec5eefdfd4b9e.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       bacground-position: center;
       overflow: hidden;
       padding: 0;
       margin: 0;
     }